<%- layout("/layouts/boilerplate") -%>

<body>
  <div class="row offset-lg-3 offset-md-2 offset-sm-1">
    <h3> Edit Listings</h3>
    <form action="/listings/<%=list.id %>?_method=PUT" novalidate class="needs-validation"  method="post" enctype="multipart/form-data">
        <div class="mb-3 col-8">
            <label for="title" class="form-label"></label> 
            <input type="text" class="form-control" name="listing[title]" value="<%= list.title  %>" required >
        <div class="valid-feedback">The Title Looks Good!</div>
            <div class="invalid-feedback">Please enter title</div>
         </div>
       <div class="mb-3 col-8">
        <label for="description" class="form-label">Description</label> 
        <textarea name="listing[description]" class="form-control" required value="<%= list.description  %>"></textarea>
        <div class="invalid-feedback">Please enter description</div>
        </div>
        <div class="mb-3">
            <img src="<%= orignalImageUrl%>" alt="">
        </div>
        <div class="mb-3 col-8">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="listing[image]"  class="form-control">
            <div class="invalid-feedback">Please upload image of formats'jpg'or'jpeg'or'png'</div>
        </div>
       
        <div class="mb-3 col-lg-8 col-md-4">
                <label for="price" class="form-label">Price</label> 
               <input type="text" name="listing[price]" required class="form-control" value="<%= list.price  %> ">
               <div class="invalid-feedback">Please enter price</div>      
        </div>
           
           <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Street/Ward</label> 
                <input type="text" class="form-control" required name="listing[location][street]" placeholder="Enter Street/Ward" >
                <div class="invalid-feedback">Please Enter Street/Ward</div>
            </div>
            <div class="mb-3 col-md-8 col-lg-4">
                <label for="location" class="form-label">Colony/Area</label> 
                <input type="text" class="form-control" required name="listing[location][colony]" placeholder="Enter Colony/Area" >
                <div class="invalid-feedback">Please Enter Colony/Area</div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3  col-md-4">
                <label for="location" class="form-label">City/Town</label> 
                <input type="text" class="form-control" required name="listing[location][city]" placeholder="Enter City/Town" >
                <div class="invalid-feedback">Please Enter City/Town</div>  
            </div> 
            <div class="mb-3 col-lg-4 col-md-8"> 
                 <label for="country" class="form-label">Country</label> 
                 <input type="text"class="form-control" required name="listing[country]" placeholder="Enter country" >
                 <div class="invalid-feedback">Please Enter Country</div>
            </div>
            <button type="submit" class="mb-3 col-lg-8  btn btn-dark edit-btn">Edit</button>
            </div>
      
    </form>
  </div>

</body>